.comment-avatar{

    object-fit:cover;

}

.comment-text{

    line-height:1.8;

    color:#444;

}

textarea{

    resize:none;

    border-radius:15px !important;

}

.btn{

    border-radius:50px;

}